* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
body {
  background-color: #3b3935;
  letter-spacing:1px;
  word-spacing: 4px;
  display: flex;
  flex-direction: column;
}
.navbar{
    background: #000000;
    padding: 0 20px;
}
.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1100px;
    height: 60px;
    margin: 0 auto;
}
.menu {
    list-style: none;
    display: flex; 
}
.logo {
    height: auto;
    width: 100px;
    padding: 0;
}
.menu li {
    position: relative;
}
.menu li a {
    color: white;
    text-decoration: none;
    padding: 20px;
    display: block;
}
.menu li :hover {
    background-color: #000000;
}
.dropbtn {
    position: relative; 
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #000000;
    min-width: 200px;
    z-index: 2;
}
.dropdown-content a {
    padding: 1em;
    display: block;
}
.dropdown-content a:hover {
    color: #d8ab89;
}
.dropbtn:hover .dropdown-content {
    display: block;
}
.social-links {
  list-style: none;   /* tira bolinha */
  padding: 0;
}

.social-links a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

.social-links a:hover {
  color: #d8ab89;
}
footer {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 20px 0;
    height: 100px;
}
html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;  /* empurra o footer pra baixo */
  margin-top: 100px;
}
.footer-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}
.dropbtn > a::after {
  content: " ▾";
  margin-left: 5px;
  transition: 0.3s;
}

.dropbtn:hover > a::after {
  content: " ▴";
}
.global-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title {
    color: #d8ab89;
    margin-bottom: 20px;
}
.skills-section li{
    text-decoration: none;
}
